asgiref==3.7.2
beautifulsoup4==4.12.2
black==23.7.0
click==8.1.6
colorama==0.4.6
crispy-bootstrap4==2022.1
Django==4.2.3
django-bootstrap4==23.2
django-crispy-forms==2.0
django-tempus-dominus==5.1.2.17
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.9.1
soupsieve==2.4.1
sqlparse==0.4.4
tzdata==2023.3
