{% extends "base.html" %}

{% block content %}
  <h1>
    <strong>
      Tags
    </strong>
    <a style="float: right" class="btn btn-primary" href="{% url 'list:tag-create' %}">Add new</a>
  </h1>

  {% if tag_list %}
    <table class="table">
     <tr>
       <th>Name</th>
       <th>Update</th>
       <th>Delete</th>
     </tr>

      {% for tag in tag_list %}
        <tr>
          <td>
            {{ tag.tag }}
          </td>
          <td>
           <a href="{% url 'list:tag-update' pk=tag.id %}" style="background-color: grey; color: white; padding: 5px 10px; border-radius: 5px; text-decoration: none;">update</a>

          </td>
          <td>
            <a href="{% url 'list:tag-delete' pk=tag.id %}" style="background-color: red; color: white; padding: 5px 10px; border-radius: 5px; text-decoration: none;">delete</a>

          </td>
        </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>No tags, sorry</p>
    {% endif %}

{% endblock %}
